#calculator{
  border: 1px solid rgba(165, 155, 155, 0.885);
  border-radius: 5px;
  width: 200px;
  position: relative;
  left: 580px;
  top: 200px;
  
}

#display{
  margin: 10px;
  width: 85%;
  font-size: 30px;

}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  height: 40px;
  width: 45px;
  margin: 3px;
}